<!DOCTYPE html>
<html>
<%- include('includes/head.ejs') %>
<body>
    <h1>404 - Página no encontrada</h1>
    <p>La página que buscas no existe AJAJJA.</p>
    <%- include('includes/footer.ejs') %>
</body>
</html>
