<!DOCTYPE html>
<html>
<%- include('includes/head.ejs') %>
<body>
    <h1>Sobre Nosotros</h1>
    <p>Esta es una aplicación de ejemplo hecha por Aksel para el Lab 12 del curso de Desarrollo Webbbb.</p>
    <p>Fue construida con Node.js, Express y EJS.</p>
    <%- include('includes/footer.ejs') %>
</body>
</html>
